
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: black;
    /* font-size: 22px; */
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
    text-align: center;
}

body {
    width: 100%;
}

.nav__wrapper {
    z-index: 999;    
    position: sticky;
    top: 0;  
}


nav {
    height: 69px;
    border-bottom:  1px solid seashell;
    width: 100vw;
    display: flex;
    /* vertical-align: middle; */
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

}

.nav__links a {
    padding: 0 20px;
}


.main__logo img{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
    height: 100%;
}


.main__banner__section img {
    width: 90%;
    height: 700px;

}

.main__banner__text {
    background-color: black;
    display: block;
    z-index: 5;
    margin: auto;
    max-width: 1500px;
    position: relative;
    bottom: 420px;
    padding: 20px;
}

.tea {
    margin-bottom: 20px;
    margin-top: -50px;
}

.tea h4 {
    margin-top: 20px;
}


.first__row__tea img {
    box-sizing: content-box;
    height: 200px;
    width: 300px;
    padding: 20px;
 
}



.first__row__tea {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
    align-items: center;
}


.second__row__tea img {
    height: 200px;
    width: 300px;
    padding: 20px;
    box-sizing: content-box;
 
}

.second__row__tea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* Third section */
.locations {
    background-image: url('./Resources/img-locations-background.jpeg');
    
    min-height: 500px;
    flex-wrap: wrap;
    max-width: 1200px;   
    margin: auto;
    padding: 0px 0px 100px 0px;

}

.locations h2 {
    background-color: transparent;
    opacity: 1;
    position: relative;
    top: 70px;
}

.location__flex {
    display: flex;
    flex-grow: start;    
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: transparent;


}

.downtown, .eastBayside, .oakdale {
    height: 300px;
    width: 300px;
    position: relative;
    top: 75px;
    margin: 20px; 
    flex-wrap: wrap;
  
}

.downtown h3, .downtown p, .eastBayside h3, .eastBayside p, .oakdale h3, .oakdale p {
    margin: auto;
    position: relative;
    top: 25%;
    line-height: 1cm;

}


.address__section {
    height: 200px;
    margin: auto;
}

.address__section h2{
    margin-bottom: 40px;
    margin-top: 20px;

}

.address__section h5 {
    padding: 10px;
}

footer h5{
    text-align: left;
    padding: 20px;
}